body {
  background-color: #f3f3f3;
}

/* header */

.header {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
}

a {
  padding: 40px;
  color: black;
  margin-top: 10px;
  text-decoration: none;
  background-color: #d4f1f4;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  opacity: 0.7;
}

a:hover {
  font-size: 1.7rem;
  color: #05445e;
  background-color: #75e6da;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  opacity: 1;
}

.logo {
  background-color: #189ab4;
  border-radius: 5px;
}

.logo:hover {
  background-color: #189ab4;
}

.border-end {
  border-bottom-right-radius: 5px;
}
/* NOTES  */
.notes-cont {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

textarea {
  width: 60%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Add Button */
.addBtn {
  padding: 15px;
  font-size: 1.5rem;
  background-color: #53d2dc;
  border-radius: 5px;
}

/* footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #b9b5b5;
  color: black;
  text-align: center;
}
